@keyframes s {
    from {
        transform: translateX(-1000px);
    }

    to {
        transform: translateX(0x);
    }
}

@keyframes c {
    from {
        transform: translateX(1000px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes d {
    from {
        transform: translateY(-800px);
    }

    to {
        transform: translateY(0px);
    }
}

@keyframes sdc-h-one {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes span {
    from {
        width: 10px;
        opacity: 0;
    }

    to {
        width: 400px;
        opacity: 1;
    }
}

@keyframes third-con {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes h3-fc {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes line-fc {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes navbar {
    from {
        opacity: 0;
        /* background-color: rgba(0, 0, 0, 0.450); */
    }

    to {
        /* background-color: rgba(0, 0, 0, 0.450);   */
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}




/* ---------------------------------------------------------------------------TEAM PAGE--------------------------------------------------------------- */


@keyframes bb{
    from{
        width: 0%;
    }

    to{
        width: 100%;
    }
}